@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Figtree', ui-sans-serif, system-ui, sans-serif;
    --color-brand: #16a34a;
    --color-brand-dark: #15803d;
    --color-brand-light: #dcfce7;
}
